@import "header.css";
@import "questioncard.css";
@import "footer.css";

:root {
  --color-background: #f9f9f9;
  --color-text: #333333;
  --color-header-bg: darkgray;
  --color-header-text: white;
  --color-footer-bg: grey;
  --color-footer-text: black;
  --color-link-hover: blue;
  --color-border: #888888;
  --color-category-bg: lightgray;
  --color-category-border: darkslategrey;
  --color-bookmark-active: white; /*Bookmark in weiß*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column; /*ordnen die Elemente (header,main,footer) untereinander an*/
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto; /*passt variable Font an Browser an*/
  font-weight: 100; /*macht Schrift feiner*/
  font-style: normal;
  font-variation-settings: "wdth" 100; /*wegen der variablen Font*/
  background-color: var(--color-background);
  color: var(--color-text);
}
main {
  flex: 1; /*nimmt den restlichen Platz ein ->Footer wird ganz nach unten gedrückt*/
  overflow-y: auto; /*macht scrollbar ausschließlich in main*/
  padding: 5px; /*macht 5px Seitenrand*/
  padding-top: 35px;
}

ul {
  list-style: none;
  padding: 0;
}

.questioncard__answer--hidden {
  display: none;
}
