@import "header.css";
@import "questioncard.css";
@import "footer.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column; /*ordnen die Elemente (header,main,footer) untereinander an*/
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: lightgrey;
}
main {
  flex: 1; /*nimmt den restlichen Platz ein ->Footer wird ganz nach unten gedrückt*/
  overflow-y: auto; /*macht scrollbar ausschließlich in main*/
  padding: 5px; /*macht 5px Seitenrand*/
  padding-top: 35px;
}
