main {
  flex: 1; /*nimmt den restlichen Platz ein ->Footer wird ganz nach unten gedrückt*/
  overflow-y: auto; /*macht scrollbar ausschließlich in main*/
  padding: 5px; /*macht 5px Seitenrand*/
  padding-top: 35px;
}

.questioncard {
  position: relative; /*macht es zum Bezugspunkt für das Bookmark*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 300px;
  border: 2px solid #888;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #f9f9f9;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto; /* (r&l)fügt gleichmäßige margin hinzu sodass es zentriert*/
}

.questioncard__question {
  text-align: center;
}

.questioncard__answer {
  text-align: center;
}

.questioncard__answer--hidden {
  display: none;
}

.questioncard__button {
  padding: 15px;
  margin-left: 120px; /*rückt links ein*/
  margin-right: 120px;
}
@media (max-width: 400px) {
  .questioncard__button {
    margin-left: auto;
    margin-right: auto;
  }
}

.questioncard ul.categories {
  display: flex;
  flex-wrap: wrap; /*warped die Categories im QuestioncardContainer*/
  list-style: none;
  gap: 8px;
  justify-content: flex-start;
  padding: 0; /*macht categories linksbündig*/
}

.questioncard ul.categories li {
  border: 1px solid darkslategrey;
  padding: 5px;
  border-radius: 8px; /*runde Ecken*/
  background-color: lightgray;
}

.questioncard__bookmark {
  font-size: 4rem;
  position: absolute; /*Positioniert Element frei im Container*/
  right: 0;
  top: -23px;
}

.questioncard__bookmark--whitebg {
  color: white;
}
nav .ph,
nav .ph-fill {
  font-size: 2rem;
}
