@import "global.css";

.profilecard {
  padding: 15px;
  max-width: 425px;
  margin-inline: auto; /* (r&l)fügt gleichmäßige margin hinzu sodass es zentriert*/
}

.profilecard__title {
  display: flex;
  gap: 25px;
  margin-bottom: 1rem;
  align-items: center; /* bringt alles auf eine Linie*/
}

.profilecard__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%; /*Macht Bild rund*/
  border: 2px solid black;
  object-fit: cover; /*passt Bild an, dass es ganzen runden Bereich füllt*/
  flex-shrink: 0; /*Bild bleibt immer rund*/
}

.profilecard__name {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  flex: 1;
}

.profilecard__about {
  margin-bottom: 1.5rem;
}

.profilecard__about-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.profilecard__counters {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.profilecard__about-text {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.profilecard__counter-item {
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  min-width: 90px;
  justify-content: space-between;
}
