.questioncard {
  position: relative; /*macht es zum Bezugspunkt für das Bookmark*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 300px;
  border: 2px solid #888;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--color-background);
  border: 2px solid var(--color-border);
  max-width: 425px;
  margin-left: auto;
  margin-right: auto; /* (r&l)fügt gleichmäßige margin hinzu sodass es zentriert*/
}

.questioncard__question {
  text-align: center;
}

.questioncard__answer {
  text-align: center;
}

.questioncard__answer--hidden {
  display: none;
}

.questioncard__button {
  padding: 15px;
}

.questioncard__categories {
  display: flex;
  flex-wrap: wrap; /*warped die Categories im QuestioncardContainer*/
  list-style: none;
  gap: 8px;
  justify-content: flex-start;
  padding: 0; /*macht categories linksbündig*/
}

.questioncard__category-item {
  border: 1px solid var(--color-category-border);
  padding: 5px;
  border-radius: 8px; /*runde Ecken*/
  background-color: var(--color-category-bg);
}

.questioncard__bookmark {
  font-size: 4rem;
  position: absolute; /*Positioniert Element frei im Container*/
  right: 0;
  top: -23px;
}

.questioncard__bookmark--whitebg {
  color: var(--color-bookmark-active);
}
